
*{
    padding: 10px 15px;
    margin: 3% 45% 0 3%;
    background-image:url("b57c06689e7223e17dea927a0bf29c.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #f10101;
    font-size: 15px;
}
body {
    background-image:url("b57c06689e7223e17dea927a0bf29c.jpg");
    background-size: cover;
    background-attachment: fixed;
}

p{
    border: 5px solid;
    border-radius: 50px;
    border-color: black;
    font-size: 50px;
    margin: 100px;
    padding: 50px;
    text-align: center;
    background-color: rgb(219, 20, 59);
    color:rgb(0, 200, 250);
}

p:hover{
    scale:1.1;

}
h1{
    margin: 100px;
    padding: 50xp;
    text-align: center;
    color:rgb(0, 38, 255); 
    font-size:100px;
}